.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.title {
  margin-bottom: 0;
  font-size: 40px;
  color: #17bf63;
  font-family: "Satisfy", cursive;
}

.slogan {
  margin-top: 0;
  color: white;
  font-size: 20px;
}

.login_button {
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #15202b;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 25px;
  margin-bottom: 50px;
  background-color: #17bf63;
  font-family: "Satisfy", cursive;
}

.login_button:active {
  transform: scale(0.9);
  transition: 0.5s ease;
}

.copyright {
  color: white;
  margin-bottom: 20px;
}

@media (max-width: 360px) {
  .title {
    font-size: 30px;
  }
  .slogan {
    font-size: 16px;
  }
  .login_button {
    font-size: 18px;
    padding: 6px 30px;
  }
}
