.search {
  display: flex;
  margin: 15px 20px;
  border-radius: 5px;
  align-items: center;
  padding-right: 15px;
  justify-content: center;
  border: 1px solid #17bf63;
}

.search_field {
  width: 90%;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  background-color: transparent;
}

.search_field:focus {
  outline: none;
}

.new_chat {
  right: 20px;
  bottom: 20px;
  position: absolute;
}

.all_chats {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.all_chats::-webkit-scrollbar {
  display: none;
}

.cover {
  justify-content: start !important;
  align-items: center !important;
  text-align: left !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  width: 100%;
  margin: 0;
}

.box {
  z-index: 2;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-start !important;
  padding: 10px 20px;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.text {
  margin-left: 15px;
}

.status {
  position: absolute;
  right: 22px;
  color: #17bf63;
}

.chat_icon {
  background: #17bf63 !important;
  color: #15202b !important;
}

@media (max-width: 360px) {
  .search_field {
    padding: 10px;
    font-size: 16px;
  }
}
