.search {
  display: flex;
  margin: 15px 20px;
  border-radius: 5px;
  align-items: center;
  padding-right: 15px;
  justify-content: center;
  border: 1px solid #17bf63;
}

.search_field {
  border: none;
  width: 90%;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  background-color: transparent;
}

.search_field:focus {
  outline: none;
}

.new_chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat_icon {
  background: #17bf63 !important;
  color: #15202b !important;
}
